<div class="small-12 columns mainPanel">
			<div ng-hide="searchResults == null || searchResults.length == 0">
				<div class="row titleBlock">
					<div class="small-12 columns">
					  <div class="row">
						<div class="small-4 columns">
							<div ng-hide="artistURL == null" class="artistImage" style="background-image: url('{{artistURL}}')">
								<span class="imageText">{{artistName}}</span>
							</div>
						</div>
						<div class="small-8 columns">
								<span class="typeText">
									Albums:
									<span ng-hide="options.offset == 0">
										<button type="button" class="button  nextButton" ng-click="searchPreviousAlbums();" pull-right><<</button>
									</span>
									<button type="button" class="button  nextButton" ng-click="searchNextAlbums();" pull-right>>></button>
								</span>
						</div>
					  </div>
					</div>
				</div>
			</div>
			<div ng-repeat="result in searchResults">
						<div class="row songCard">
							<div class="small-4 columns">
								<span class="albumArt" style="background-image: url('{{result.images[0].url}}')">
								</span>
							</div>
							<div class="small-8 columns">
								<span>
									<div class="media-details">
										<div class="artistTitle">
											<a href="#/songsInAlbum/{{result.id}}">{{result.name}}</a>
										</div>
									  <P>
									</div>
								</span>
							</div>
						</div>
						<hr/>
			</div>
		</div>
			<div ng-show="searchResults == null || searchResults.length == 0">
					<span ng-hide="options.offset == 0">
						<button type="button" class="button  nextButton" ng-click="searchPreviousAlbums();" pull-right><<</button>
					</span>
					<P>
					<div ng-show="topTenList.songs == null || topTenList.songs.length == 0">
						No albums found. Please try a different search string.
					</div>
				</div>
	